<html>
<head>
  <link href="{{ url_for('static', filename='bootstrap.css') }}" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="{{ url_for('static', filename='jquery.min.js') }}"></script>
</head>
<style>
html, body, .container {
    height: 100%;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}
.container {
    display: table;
    vertical-align: middle;
}
.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}
#title {
    font-size: 100px;
}
</style>
<body>

<div class="container">
    <div class="vertical-center-row">
        <div align="center" id="title">404!</div>
        <div align="center" id="subtitle">#NerdyStuff</div>
    </div>
</div>

</body>
</html>
