<html>
<head>
<link href="{{ url_for('static', filename='bootstrap.css') }}" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{{ url_for('static', filename='jquery.min.js') }}"></script>
</head>
<style>
html, body, .container {
    height: 100%;
}
.container {
    display: table;
    vertical-align: middle;
}
.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}
#option {
    color: #888c93;
}
</style>
<body>

<div class="container">
    <div class="vertical-center-row">
        <div align="center">
           <img src="{{ url_for('static', filename='images/logo.png')  }}"/>
           <form id="plot" method="post" action="{{ url_for('plot') }}">
             Address: <input type="text" name="network" value="10.13.16.0" size="12">
             Mask: <input type="text" name="mask" value="24" size="3" id="mask">
             <input type="submit" value="Plot"><br><br>
             <input id="traffic" type="checkbox" name="traffic" value="traffic"><span id="option"> Gather network traffic (single device only)</span><br>
           </form>
       </div>
       <div align="center" id="loading_1" style="display:none;">
           <img src="{{ url_for('static', filename='images/loading.gif' ) }}"></img> Loading...
       </div>
       <div align="center" id="loading_2" style="display:none;">
           <img src="{{ url_for('static', filename='images/loading.gif' ) }}"></img> This will take some time...
       </div>
       <div align="center" id="loading_3" style="display:none;">
           <img src="{{ url_for('static', filename='images/loading.gif' ) }}"></img> This will take some mo<span id="more"></span>re time...
       </div>
    </div>
</div>

<script type="text/javascript">

$('#traffic').click(function(e) {
    if ($(this).is(":checked")) {
         $('#mask').prop('readonly', true);
         $('#mask').val('32');
    } else {
        $('#mask').prop('readonly', false); 
        $('#mask').val('24');
    } 
})

$('#plot').submit(function(e) {
    e.preventDefault(); 
    this.submit(); 
    $('#loading_1').fadeIn(500);
    setTimeout(function() {
        $('#loading_2').fadeIn(500);
        $('#loading_1').hide();
        setTimeout(function() {
            $('#loading_3').show();
            $('#loading_2').hide();
            setInterval(function() {
                $('#more').append('o');
            }, 700);
        }, 2000);
    }, 5000);
})
</script>

</body>
</html>
