<!doctype html>
<html>
<head>
<title>Network | Plot</title>
<link href="{{ url_for('static', filename='vis-network.min.css') }}" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{{ url_for('static', filename='jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='vis.js')  }}"></script>
<style type="text/css">
  html, body {
    margin:0;
    padding:0;
    height:100%;
  }
  #plot {
    width: 100%;
    height: 100%;
    border: 0px solid lightgray;
  }
</style>
</head>
<body>

<div id="plot"></div>

<script type="text/javascript">

  relationships_raw = JSON.parse('{{ relationships|tojson|safe }}');
  node_list_raw = JSON.parse('{{ node_list|tojson|safe }}');

  var options = {}
  var nodes = new vis.DataSet(options);

  for(key in node_list_raw){
    nodes.add({ 'id' : node_list_raw[key]  , 'label' : key  });
  }

  var edges = new vis.DataSet(options);

  for ( i=0 ; i < relationships_raw.length ; i++ ) {

    var temp_items = [];

    for (var key in relationships_raw[i]) {
      temp_items.push(relationships_raw[i][key]);
    }

    edges.add({ 'from' : temp_items[0] , 'to' : temp_items[1] } );

  }


  var container = $("#plot");
  
  
  var data = {
      nodes: nodes,
      edges: edges
  };
  
    var options = {
      nodes: {
        shape: 'dot',
        size: 15
      },
      edges: {
        color: {
          highlight: "rgba(255,0,12,1)"
        },
        smooth: {
          enabled: false,
          forceDirection: "none"
        }
      },
      physics: {
        forceAtlas2Based: {
          gravitationalConstant: -300,
          centralGravity: 0.005,
          springLength: 230,
          springConstant: 0.18,
          avoidOverlap: 1.5
        },
        maxVelocity: 146,
          solver: 'forceAtlas2Based',
          timestep: 0.35,
          stabilization: {
            enabled: true,
            iterations: 1000,
            updateInterval: 25
        }
      },
      interaction: {
        dragView: true,
        multiselect: true
      }
    }
  
  var network;
  
  var canvas;
  var ctx;
  var rect = {}, drag = false;
  var drawingSurfaceImageData;
  
  function saveDrawingSurface() {
     drawingSurfaceImageData = ctx.getImageData(0, 0, canvas.width, canvas.height);
  }
  
  function restoreDrawingSurface() {
      ctx.putImageData(drawingSurfaceImageData, 0, 0);
  }
  
  function selectNodesFromHighlight() {
      var fromX, toX, fromY, toY;
      var nodesIdInDrawing = [];
      var xRange = getStartToEnd(rect.startX, rect.w);
      var yRange = getStartToEnd(rect.startY, rect.h);
  
      var allNodes = nodes.get();
      for (var i = 0; i < allNodes.length; i++) {
          var curNode = allNodes[i];
          var nodePosition = network.getPositions([curNode.id]);
          var nodeXY = network.canvasToDOM({x: nodePosition[curNode.id].x, y: nodePosition[curNode.id].y});
          if (xRange.start <= nodeXY.x && nodeXY.x <= xRange.end && yRange.start <= nodeXY.y && nodeXY.y <= yRange.end  ) {
              nodesIdInDrawing.push(curNode.id);
          }
      }
      network.selectNodes(nodesIdInDrawing);
  }
  
  function getStartToEnd(start, theLen) {
      return theLen > 0 ? {start: start, end: start + theLen} : {start: start + theLen, end: start};
  }
  
  $(document).ready(function() {
      container.on("mousemove", function(e) {
          if (drag) {
              restoreDrawingSurface();
              rect.w = (e.pageX - this.offsetLeft) - rect.startX;
              rect.h = (e.pageY - this.offsetTop) - rect.startY ;
  
              ctx.setLineDash([5]);
              ctx.strokeStyle = "rgb(0, 102, 0)";
              ctx.strokeRect(rect.startX, rect.startY, rect.w, rect.h);
              ctx.setLineDash([]);
              ctx.fillStyle = "rgba(0, 255, 0, 0.2)";
              ctx.fillRect(rect.startX, rect.startY, rect.w, rect.h);
          }
      });
  
      container.on("mousedown", function(e) {
          if (e.button == 2) {
              selectedNodes = e.ctrlKey ? network.getSelectedNodes() : null;
              saveDrawingSurface();
              var that = this;
              rect.startX = e.pageX - this.offsetLeft;
              rect.startY = e.pageY - this.offsetTop;
              drag = true;
              container[0].style.cursor = "crosshair";
          }
      });
  
      container.on("mouseup", function(e) {
          if (e.button == 2) {
              restoreDrawingSurface();
              drag = false;
  
              container[0].style.cursor = "default";
              selectNodesFromHighlight();
          }
      });
  
      document.body.oncontextmenu = function() {return false;};
      network = new vis.Network(container[0], data, options);
  
    network.on("stabilizationIterationsDone", function () {
      network.setOptions( { physics: false } );
    });
  
      canvas = network.canvas.frame.canvas;
      ctx = canvas.getContext('2d');
  
  });
</script>


</body>
</html>
